/* Root variables */
:root {
    /* --first-color: #e1a6b6; Rose */
    /* --first-color: #144E73;
    --second-color: #55C1D9; /* Light rose */
    /* --second-color: #f7d7e2; Light rose */
    /*--third-color: #b33951; /* Dark rose */
    /* --third-color: #023E73; */
    /* --text-color: #333; */
    /* --text-color: #122A40;
    --text-color-light: #757575; */ 
    --primary-color: #5B7BA6; /* Dark blue */
    --secondary-color: #A7BAF2; /* Medium blue */
    --accent-color: #977ABF; /* Rose */
    --dark-blue-color: #4E4B78; /* Darker blue */
    --light-blue-color: #A2DCF2; /* Light cyan */
    --text-color: #000000; /* Black for text */
    --text-color-light: #ffffff; /* White for text */
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --font-medium: 500;
    --mb-2: 1.5rem;
    --mb-1: 1rem;
    --mb-0-25: 0.25rem;
    --border-radius: 15px;
    --section-padding: 2rem;
    /* --rose-color: #e91e63; */
    /* --rose-color: #0367A6;
    /* --rose-color-light: #f8bbd0; */
    /* --rose-color-light: #B6ECF2; */
    /* --rose-color-dark: #c2185b; */
    /* --rose-color-dark: #023E73; */ 
    --background-light: #ffffff; /* White */
    --background-dark: #000000; /* Black */
}

body {
    font-family: 'Epilogue', sans-serif !important;
    background-color: #f7f3f9; /* Light rose */
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700; /* Bold */
}

p, li, a {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400; /* Regular */
}

strong {
  font-weight: 600; /* Semi-bold */
}

/* .navbar {
    background-color: #E0E9EB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--section-padding);
}

.navbar-brand {
    font-weight: bold;
    color: var(--third-color); /* Dark rose */
/*}

/* .nav-link {
    color: var(--third-color); /* Dark rose */
/*} */ 
/* Sidebar Navigation */
/* Sidebar Navigation */
/* Sidebar Navigation */
.sidebar-nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60px;
  background: linear-gradient(145deg, var(--secondary-color), var(--primary-color));
  color: var(--text-color-light);
  padding: 1rem 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-nav ul li {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  position: relative;
}

.sidebar-nav ul li a {
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem;
  transition: background 0.3s, transform 0.3s;
  border-radius: 50%;
}

.sidebar-nav ul li a:hover,
.sidebar-nav ul li a.active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

/* Fade-in effect for section content */
.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.sidebar-nav ul li a::after {
  content: attr(title);
  position: absolute;
  left: 70px;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevent the tooltip from blocking hover */
}

.sidebar-nav ul li a:hover::after {
  opacity: 1;
}


/* Responsive Design for smaller screens */
@media screen and (max-width: 768px) {
  .sidebar-nav {
      width: 50px; /* Reduce width for smaller screens */
  }

  .sidebar-nav ul li a {
      font-size: 1.25rem; /* Reduce font size */
  }

  .content {
      margin-left: 60px; /* Adjust content margin */
      padding: 1rem; /* Reduce padding */
  }
}


.header{
  height: 800px;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/blue_rosebanner.jpg"); /* Add the rose background image */
  background-size: cover;
  padding: var(--section-padding) 1rem;
  margin: auto;
  color: var(--text-color-light); /* Ensures text is readable on background */
  position: relative;
  text-align: center;
  height: 250px;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Adjust opacity of the background image */
  z-index: -1;
}
.jumbotron h1 {
  font-size: 4rem; /* Increase size of h1 */
  text-shadow: 
      2px 2px 0 var(--background-dark),
      -2px -2px 0 var(--background-dark),
      2px -2px 0 var(--background-dark),
      -2px 2px 0 var(--background-dark),
      2px 0px 0 var(--background-dark),
      -2px 0px 0 var(--background-dark),
      0px 2px 0 var(--background-dark),
      0px -2px 0 var(--background-dark);
  margin: 0; /* Remove default margin to align better */
}

.jumbotron p {
  font-size: 2rem; /* Increase size of p */
  text-shadow: 
      2px 2px 0 var(--background-dark),
      -2px -2px 0 var(--background-dark),
      2px -2px 0 var(--background-dark),
      -2px 2px 0 var(--background-dark),
      2px 0px 0 var(--background-dark),
      -2px 0px 0 var(--background-dark),
      0px 2px 0 var(--background-dark),
      0px -2px 0 var(--background-dark);
  margin: 0; /* Remove default margin to align better */
}

.jumbotron h1 + p {
  margin-top: 1rem;
}



section {
    padding: var(--section-padding);
    /* margin-bottom: var(--section-padding); */
    /* background: linear-gradient(to bottom, #fff, #f7f3f9); */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    text-align: center;
    position: relative;
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    color: var(--text-color-light);
  }
  
  .qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
    color: var(--text-color-light);
  }
  
  .qualification__button:hover {
    color: #A7BAF2;
  }
  
  .qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
  }
  
  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
  }
  
  .qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
  }
  
  .qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: var(--text-color-light);
  }
  
  .qualification__calendar {
    font-size: var(--smaller-font-size);
    color: light gray;
  }
  
  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color:#A7BAF2;
    border-radius: 50%;
  }
  
  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #A7BAF2;
    transform: translate(6px, -7px);
  }
  
  .qualification [data-content] {
    display: none;
  }
  
  .qualification__active[data-content] {
    display: block;
  }
  
  .qualification__button.qualification__active {
    color:#A7BAF2;
  }

  #experience .section__subtitle{
    color: var(--text-color-light);
  }




footer {
    /* background-color: var(--primary-color); */
    /* color: var(--text-color-light); */
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

/* Project Cards
.project {
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    cursor: pointer;
  }
  
  .project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .github-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }
  
  .github-icon {
    width: 50px;
    height: 50px;
  }
  
  .project-image {
    position: relative;
    overflow: hidden;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s;
  }
  
  .project-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .project:hover .project-image img {
    transform: scale(1.1);
  }
  
  .project:hover .project-image::before {
    opacity: 1;
  }
  
  .project-content {
    padding: 1.5rem;
    text-align: center;
  }
  
  .project-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--rose-color);
    margin-bottom: 1rem;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  
  .project-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  .project-skills span {
    background-color: var(--rose-color-light);
    color: var(--rose-color-dark);
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius: 5px;
    font-size: 0.9rem;
  } */
  /* Project Section Styles */
/* Project Section Styles */
/* General Project Section Styles */
/* Specific styles for the projects section container */
#galleryContainer {
  height: 500px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#galleryView {
  height: 90vh;
  width: 100vw;
  /* background: linear-gradient(111deg, var(--light-blue-color) 0%, var(--accent-color) 52%, var(--dark-blue-color) 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainView {
  height: 450px;
  width: 450px;
  border-radius: 5px;
  background-color: var(--primary-color);
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
  position: relative;
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;
}

#leftView, #rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: relative;
}

#leftView:hover, #rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color-light);
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: var(--primary-color);
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

.project-details {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text-color-light);
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  text-align: center; /* Center the text inside */
  margin-top: auto; /* Ensures the details container is pushed to the bottom */
}

.project-details h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-details p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.project-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.project-skills span {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.875rem;
  justify-content: center;
}

.project-link {
  display: block;
  color: var(--accent-color);
  background-color: var(--background-dark);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
  background-color: var(--accent-color);
  color: var(--background-dark);
}

/* Card flip animation */
.project-card {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  justify-content: flex-end;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s ease-in-out;
}

.card-front {
  background-size: cover; /* Ensure the image covers the whole card */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No repeating the background image */
  /* background-color: var(--primary-color); Fallback color if image doesn't load */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ensure the details content is at the bottom */
}

.card-back {
  background-color: var(--dark-blue-color);
  color: var(--text-color-light);
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.project-card.flip .card-front {
  transform: rotateY(180deg);
}

.project-card.flip .card-back {
  transform: rotateY(360deg);
}









  
  
  /* Animation */
  [data-aos="fade-up"] {
    opacity: 0;
    transition-property: transform, opacity;
  }
  
  [data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  [data-aos="fade-up"]:not(.aos-animate) {
    transform: translateY(20px);
  }

.form-control {
    border-radius: 4px;
    border: 1px solid #cbd5e0;
}

.form-group label {
    font-weight: bold;
    color: #4a5568;
}

/* Skills Section Styles */
.custom-skills .skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 2rem; /* Space between grid items */
  margin-top: 2rem; /* Space above the grid */
}

.custom-skills .skills-category {
  padding: 1.5rem;
  background: linear-gradient(to bottom, var(--background-light), var(--light-blue-color)); /* Vertical gradient background */
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center;
}

.custom-skills .skills-category h3 {
  margin-bottom: 1rem;
  color: var(--dark-blue-color); /* Rich blue color */
  font-size: 1.25rem;
  font-weight: bold;
}

.custom-skills .skills-list {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between each skill */
}

.custom-skills .skill-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-skills .skill-item h4 {
  margin: 0 0 0.5rem 0; /* Space below skill name */
  font-size: 1rem;
  color: var(--text-color);
}

.custom-skills .skill-level {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  margin-left: 0.5rem;
}

.custom-skills .progress-bar {
  background-color: var(--background-light);
  border-radius: 5px;
  height: 12px;
  width: 100%;
}

.custom-skills .progress {
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  height: 100%;
  border-radius: 5px;
  width: var(--progress-width);
}

/* Animation for progress bars */
@keyframes fillProgress {
  from {
      width: 0%;
  }
  to {
      width: var(--progress-width); /* Use CSS variable for final width */
  }
}

/* Responsive Design for Skills Section */
@media screen and (max-width: 768px) {
  .custom-skills .skills-grid {
      grid-template-columns: 1fr; /* Single column grid on small screens */
  }

  .custom-skills .skills-category {
      padding: 1rem; /* Adjust padding for smaller screens */
  }

  .custom-skills .skill-item {
      margin-bottom: 1rem; /* Space below each skill item */
  }
}







/* Animation */
[data-aos="fade-up"] {
    opacity: 0;
    transition-property: transform, opacity;
  }
  
  [data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  [data-aos="fade-up"]:not(.aos-animate) {
    transform: translateY(20px);
  }

  /* About Me Section */
  /* Specific Styles for Each Section */
#about {
  background-color: var(--background-light); /* Dark blue background */
}

#skills {
  background-color: var(--background-light); /* Light blue background */
}

#experience {
  margin: 10px 100px;
  border-radius: 15px;
  background-color: var(--dark-blue-color); /* Dark blue background */
  color: var(--text-color-light);
}

/* #projects {
  /* background-color: var(--light-blue-color); Light blue background
} */

#resume {
  background-color: var(--accent-color); /* Dark blue background */
  color: var(--text-color-light);
}
.resume-section {
  padding: 2rem;
  background-color: var(--background-light); /* Light background */
  margin: 10px 100px;
  border-radius: 15px;
  text-align: center;
}

.resume-container {
  margin: 20px auto;
  border: 1px solid #ccc; /* Optional: Border around the PDF */
  border-radius: 8px;
  height: 1050px;
  max-width: 800px; /* Control max width of the embedded resume */
}

#contact {
  background-color: var(--primary-color); /* Light blue background */
}

#contact-form{
  width: 60%;
}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  
  .about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    transition: transform 0.3s;
    background: linear-gradient(to bottom,#A7BAF2, var(--accent-color));
  }
  
  .about-image:hover img {
    transform: scale(1.1);
  }
  
  .about-text {
    max-width: 600px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .social-icon {
    font-size: 1.5rem;
    color: var(--background-dark);
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: var(--accent-color);
  }
  .achievements-section {
    /* width: 80%;
    max-width: 800px; */
    margin: 20px 100px;
    border-radius: 15px;
    background-color: rgba(162, 220, 242, 0.6);
  }
  
  /* .section-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  } */
/*   
  .container {
    position: relative;
  } */
  
  
  .carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .achievements-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .achievement-card {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .card-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .achievement-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .achievement-description {
    font-size: 1em;
    color: #666;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5em;
    z-index: 1;
  }
  
  .carousel-button-left {
    left: 10px;
  }
  
  .carousel-button-right {
    right: 10px;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

/* Volunteering Fullwidth Section */
.volunteering-fullwidth {
  padding: 60px 100px;
  text-align: center;
}

.volunteering-fullwidth .container {
  max-width: 1600px; /* Increased max-width for larger containers */
  margin: 0 auto;
  padding: 0 2rem; /* More padding for better spacing */
}

.separator-line {
  width: 70%; /* Set the width to 50% of the container */
  border: none; /* Remove default borders */
  border-top: 1px solid var(--primary-color); 
  margin: 0 auto 20px auto; /* Center the line and add space below */
  opacity: 0.7; /* Optional: Make the line semi-transparent */
}

/* .volunteering-title {
  font-size: 3rem;
  color: #333333;\
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); Subtle shadow 
} */

.volunteering-intro {
  /* font-size: 1.4rem; Larger intro text size */
  color: #555555; /* Medium grey */
  margin-bottom: 40px;
}

.volunteering-container {
  display: flex;
  flex-wrap: wrap; /* Wrap content on smaller screens */
  gap: 40px; /* More space between sections */
  justify-content: center;
}

.volunteering-section {
  position: relative;
  flex: 1 1 45%; /* Each section takes up about half the width */
  min-height: 500px; /* Increased minimum height for larger images */
  margin: 20px 0;
  overflow: hidden;
  border-radius: 20px; /* Rounded corners for sections */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  transition: transform 0.3s, box-shadow 0.3s;
}

.volunteering-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  filter: brightness(0.9); /* Slight darkening to enhance text visibility */
  transition: transform 0.3s ease;
}

.volunteering-section:hover .volunteering-background {
  filter: brightness(1); /* Remove darkening on hover */
  transform: scale(1.05); /* Slight zoom on hover */
}

.volunteering-content {
  position: relative;
  z-index: 2;
  padding: 40px; /* Increased padding for better text spacing */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
  color: #ffffff; /* White text */
  border-radius: 15px;
  max-width: 70%; /* Adjusted max width for content */
  margin: auto; /* Center the content */
  text-align: left;
}

.volunteering-experience-title {
  font-size: 1.2rem; /* Larger font size for titles */
  margin-bottom: 10px;
  font-weight: bold;
}

.volunteering-experience-description {
  font-size: 1.0rem; /* Larger font size for descriptions */
}

.volunteering-image-credit {
  margin-top: 10px;
  font-size: 0.9rem; /* Slightly larger text size for credits */
  color: #dddddd; /* Light grey text to distinguish from main content */
}

/* Responsive Design */
@media (max-width: 768px) {
  .volunteering-section {
      flex: 1 1 100%; /* Full width on smaller screens */
      min-height: 300px; /* Reduced height for smaller screens */
  }

  .volunteering-content {
      max-width: 90%; /* More width for content on smaller screens */
      padding: 20px; /* Reduced padding */
  }
}













/* Responsive Design for Medium Devices */
@media screen and (min-width: 768px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    body {
      margin: 0;
    }
    .section {
      padding: 4rem 0 6rem;
    }
    .section__subtitle {
      margin-bottom: 4rem;
    }
    .header {
      top: 0;
      bottom: initial;
    }
    .header,
    .main,
    .footer__container {
      padding: 0 1rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem);
      column-gap: 1rem;
    }
    .nav__icon, .nav__close, .nav__toggle {
      display: none;
    }
    .nav__list {
      display: flex;
      column-gap: 2rem;
    }
    .nav__menu {
      margin-left: auto;
    }
    .change-theme {
      margin: 0;
    }
    .home__container {
      row-gap: 5rem;
    }
    .home__content {
      padding-top: 5.5rem;
      column-gap: 2rem;
    }
    .home__blob {
      width: 270px;
    }
    .home__scroll {
      display: block;
    }
    .home__scroll-button {
      margin-left: 3rem;
    }
    .about__container {
      column-gap: 5rem;
    }
    .about__img {
      width: 350px;
    }
    .about__description {
      text-align: initial;
    }
    .about__info {
      justify-content: space-between;
    }
    .about__buttons {
      justify-content: initial;
    }
    .qualification__tabs {
      justify-content: center;
      margin-left: 20px;
    }
    .qualification__button {
      margin: 0 var(--mb-1);
    }
    .qualification__sections {
      grid-template-columns: .5fr;
      margin-left: 25%;
      margin-right: 25%;
    }
    .services__container {
      grid-template-columns: repeat(3, 218px);
      justify-content: center;
    }
    .services__icon {
      font-size: 2rem;
    }
    .services__content {
      padding: 6rem 0 2rem 2.5rem;
    }
    .services__modal-content {
      width: 450px;
    }
    .portfolio__img {
      width: 320px;
    }
    .portfolio__content {
      align-items: center;
    }
    .project {
      text-align: initial;
    }
    .project__bg {
      background: none;
    }
    .project__container {
      background-color: var(--first-color-second);
      border-radius: 1rem;
      /* padding: 2rem 2.5rem 0; */
      grid-template-columns: 1fr max-content;
      column-gap: 3rem;
    }
    .project__data {
      padding-top: .8rem;
    }
    .footer__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg {
      padding: 3rem 0 3.5rem;
    }
    .footer__links {
      flex-direction: row;
      column-gap: 2rem;
    }
    .footer__socials {
      justify-self: flex-end;
    }
    .footer__copy {
      margin-top: 4.5rem;
    }
    .project {
      width: 80%; /* Increase width of the card for medium screens */
  }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
      padding: 0;
    }
    .home__blob {
      width: 320px;
    }
    .home__social {
      transform: translateX(-6rem);
    }
    .services__container {
      grid-template-columns: repeat(3, 238px);
    }
    .portfolio__content {
      column-gap: 5rem;
    }
    .swiper-portfolio-icon {
      font-size: 3.5rem;
    }
    .swiper-button-prev {
      left: -3.5rem;
    }
    .swiper-button-next {
      right: -3.5rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: -4.5rem;
    }
    .contact__form {
      width: 460px;
    }
    .contact__inputs {
      grid-template-columns: repeat(2, 1fr);
    }
    /* Project Section for Large Devices */
    .project {
      width: 100%; /* Increase width of the card for large screens */
      max-width: 3000px; /* Max width for large screens */
  }

  .project-content {
      padding: 2rem; /* Increase padding for large screens */
  }
  }